@page "/animal"

@using BlazorSample.Models
@inject BlazorSample.ViewModels.AnimalVM VM

<h1>@VM.Title</h1>

<div class="container-fluid">
    <div class="row">

        <div class="col-md-8">
            @if (VM.Animals.Count == 0)
            {
                <div>Liste vide</div>
            }
            else
            {
                <table class="IndexTable">
                    <tbody>
                        @foreach (var Animal in VM.Animals)
                        {
                            <tr>
                                <td>
                                    @Animal
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>

        <div class="col-md-4 EditForm">

            <label 
                class="@VM.FormMessageClass ">
                @VM.FormMessage
            </label>

            <h3>@VM.FormTitle</h3>

            <EditForm 
                Model="VM.AnimalModel"
                OnSubmit="@VM.AddAnimal">
                <input 
                    class="form-control" 
                    type="text"
                    placeholder="Nom de l'animal"
                    @bind="VM.AnimalModel.Name" />
                <input class="form-control"
                       type="text"
                       placeholder="Description"
                       @bind="VM.AnimalModel.Description" />
                <input type="submit"
                    class="btn btn-primary"
                    value="Ajouter l'animal" />
            </EditForm>

            <hr />

            <button class="btn btn-primary"
                    disabled="@VM.AddAnimalFromPoolDisabled"
                    @onclick="VM.AddAnimalFromPool">
                @VM.AddAnimalFromPoolText
            </button>

        </div>

    </div>
</div>